<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>公司简介类模板</title>
    </head>
    <body>
        <!-- 模板只会调用class为mceTmpl的部分 -->
        <div class="mceTmpl">
            <table width="98%%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </body>
</html>
