// out: false
@import 'main.less';
@import 'Tenant.less';
@import 'mixin.less';

@info: #17a2b8;
@success: #28a745;
@bule: #61affe;
@purple: #7e57c2;
@gray: #e9ecef;

table.b-table[aria-busy='true'] {
    opacity: 0.9;
}

.table-img img {
    max-width: 70px;
    max-height: 32px;
}

.table th,
.table td {
    vertical-align: middle;
    padding: 10px 8px;
}
.vdpComponent > input {
    font-size: 16px;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
.thead-bTable th {
    background-color: #f8f8f9;
    border-bottom-width: 1px !important;
}
.ghost {
    opacity: 0.5;
    background: #c8ebfb;
}
.label {
    display: block;
    padding: 0.2em 0.6em 0.2em 0.6em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    border-radius: 0.25em;
    &.label-success {
        background-color: #5cb85c !important;
    }
    &.label-danger {
        background-color: #d9534f !important;
    }
}
.v1 {
    width: 46px;
    height: 64px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0;

    .v1-image {
        display: none;
    }
    .v1-file {
        height: 64px;
    }
}
.modal-lg {
    max-width: 1000px;
    height: 80%;
    .modal-content {
        height: 100%;
    }
    .modal-body {
        height: calc(100% - 120px);
    }
    .scroll-container {
        height: 100%;
    }
}
.mce-container {
    box-sizing: border-box !important;
}

.leftBar {
    transition: width 0.1s linear 0.1s;
    background-color: #374459;
    height: 100%;
    width: 240px;
    flex-shrink: 0;
    color: #fff;
    padding: 15px 0;
    position: relative;
    overflow: hidden;
    & > :not(.left-bar-shrink) {
        transition: visibility 0s, opacity 0.5s linear;
        visibility: visible;
        opacity: 1;
    }
    &.shrink {
        transition: width 0.1s linear 0.1s;
        width: 60px;
        & > :not(.left-bar-shrink):not(.fa-bars) {
            transition: visibility 0s, opacity 0.5s linear;
            visibility: hidden;
            opacity: 0;
        }
    }
    h5 {
        position: relative;
        margin-left: 20px;
        margin-bottom: 40px;
        &:after {
            content: '';
            position: absolute;
            left: -70%;
            bottom: -40%;
            width: 240%;
            border-bottom: 1px solid #fff;
            -webkit-transform: scale(0.5);
            transform: scale(0.5);
        }
        .copy {
            position: absolute;
            top: -2px;
        }
    }
}
.left-bar-shrink {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 0.35rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    border-radius: 0.25rem;
    border: 1px solid #9c9c9c;
    cursor: pointer;
    color: #9c9c9c;
    opacity: 0.75;
    z-index: 99;
    &:hover {
        background-color: #28a745;
        border-color: #28a745;
        color: #fff;
        opacity: 1;
    }
}

.sidebar-header {
    margin: 20px;
    .user-pic {
        width: 64px;
        height: 64px;
        margin-right: 10px;
        display: inline-block;
        vertical-align: top;
    }
    .user-info {
        display: inline-block;
        span {
            display: block;
        }
    }
    .user-name {
        font-size: 120%;
        color: #eee;
    }
}
.sidebar-menu {
    padding: 20px 4px;
    font-size: 0.9rem;
    > ul > li > div {
        width: calc(100% - 20px);
        margin-left: 20px;
    }
    .badge {
        float: right;
        margin-top: 4px;
        margin-right: 26px;
    }
    ul {
        list-style: none;
        margin-bottom: 10px;
        padding-left: 10px;
    }
    li {
        list-style: none;
        margin-top: 10px;
        margin-bottom: 10px;
        a {
            text-decoration: none;
            color: rgba(255, 255, 255, 0.7);
            display: block;
            padding: 4px;
            border-radius: 4px;
            cursor: pointer;
            > span {
                vertical-align: middle;
            }
            > i {
                margin-right: 5px;
                vertical-align: middle;
                &.root {
                    padding: 6px 2px;
                    background-color: rgba(0, 0, 0, 0.3);
                    border-radius: 2px;
                    width: 30px;
                    text-align: center;
                }
            }
            > .label {
                float: right;
                margin-top: 4px;
                margin-right: 16px;
            }
            &:hover {
                color: #fff;
                background-color: rgba(0, 0, 0, 0.3);
                > i {
                    color: #007bff;
                }
            }
        }

        &.active {
            > a > i {
                color: #007bff;
            }
            > a:after {
                transition: transform 0.2s ease-in;
                color: #fff;
                transform: rotate(90deg);
            }
            > .sidebar-submenu {
                max-height: 10000px;
                transition: max-height 0.2s ease-in;
            }
        }
        &.current {
            > a {
                color: #007bff;
            }
        }
        &.sidebar-dropdown {
            > a {
                position: relative;
            }
            > a:after {
                content: '>';
                position: absolute;
                right: 8px;
                top: 6px;
                font-family: '宋体';
                font-weight: 700;
                transition: transform 0.2s ease-out;
            }
        }
    }
}
.sidebar-submenu {
    max-height: 0;
    transition: max-height 0.2s ease-out;
    box-sizing: border-box;
    overflow: hidden;
    ul {
        margin-bottom: 0;
        width: 100%;
    }
    li {
        margin: 10px 0;
        > a {
            position: relative;
            padding-left: 16px;
            border-radius: 4px;
            &:before {
                position: absolute;
                left: 6px;
                top: 2px;
                content: '。';
                font-size: 18px;
                line-height: 16px;
            }

            &.active,
            &:hover {
                color: #fff;
                background-color: rgba(0, 0, 0, 0.3);
                &::before {
                    color: #007bff;
                }
            }
        }
        &.current {
            > a {
                color: #007bff;
                background-color: rgba(0, 0, 0, 0.3);
            }
        }
        &.active {
            > a:before {
                color: #007bff;
            }
        }
    }
}
// 布局设定
.main {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #999;
    background: #f5f7f9;
}

.content {
    width: calc(100% - 240px);
    height: 100%;
    flex-shrink: 1;
    flex-grow: 1;
    position: relative;
    z-index: 100;
    &.shrink {
        width: calc(100% - 60px);
    }
}

.content-body {
    margin: 20px;
    width: calc(100% - 40px);
    height: calc(100% - 104px);
    background-color: #fff;
    box-shadow: 0 1px 5px #ccc;
    border-radius: 6px;
    padding-bottom: 10px;
    position: relative;
    .content-container {
        max-width: 1140px;
    }
}

.scroll-sidebar-container {
    height: calc(100% - 100px);
    overflow: hidden;
}

.scroll-container {
    width: 100%;
    height: calc(100% - 60px);
    // .container-fluid {
    //     width: calc(100% + 17px);
    // }
}
.scroll {
    height: 100%;
    overflow: hidden;
}
.news-group-bar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 0;
    > dd {
        min-width: 260px;
        max-width: 800px;
        margin: 10px;
    }
}
.news-bar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 0;
    flex-wrap: wrap;
    > dt {
        margin: 10px;
        font-size: 16px;
        color: #333;
    }
    > dd {
        width: calc(33% - 20px);
        margin: 10px;
    }
}
.news-table {
    font-size: 13px;
    padding: 0 10px;
    .tr-table {
        width: 100%;
        tr {
            cursor: pointer;
            &:hover {
                background-color: #e9ecef;
            }
            &:focus {
                background-color: #e9ecef;
            }
        }
        td {
            border: none;
        }
    }
    .btn {
        font-size: 13px;
    }
    .news-show-detail {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-grow: 1;
        height: 13rem;
        h3 {
            font-size: 0.8rem;
        }
        .domains {
            width: calc(70% - 1rem);
            padding: 1rem;
            margin-right: 1rem;
            position: relative;
            height: 100%;
            &::after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                width: 0.1rem;
                border-right: 1px solid #ccc;
            }
            ul {
                height: 100%;
                margin-bottom: 0;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
            }
            li {
                width: 50%;
                padding: 0.4rem;
            }
        }
        .template {
            margin-left: 1rem;
            padding: 1rem;
            width: calc(30% - 1rem);
            height: 100%;
            display: flex;
            flex-direction: column;
            .snopshot {
                overflow: hidden;
                margin: 1rem 0;
                img {
                    max-width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }
}
.news-edit-editmode {
    margin-bottom: 20px;
    border-radius: 4px;
}
.news-number {
    cursor: pointer;
    display: inline-block;
    color: #3366ff;
    font-weight: bold;
}
.company-name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.attach-btn {
    display: inline-block;
    vertical-align: middle;
    padding: 0 20px;
}
.attach {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    margin: 0;
    padding-left: 20px;
    & > li {
        margin: 10px;
        padding-bottom: 5px;
        border-bottom: 1px solid #ccc;
        display: inline-block;
        i {
            margin-left: 5px;
            font-size: 18px;
            cursor: pointer;
        }
    }
}
.ctx-menu {
    min-width: 120px;
    letter-spacing: 0;
    li {
        padding: 8px 20px;
        text-align: left;
        font-size: 13px;
        cursor: pointer;

        > i {
            margin-right: 6px;
            display: inline-block;
        }

        &:hover {
            color: #fff;
            background-color: #0094ff;
        }
    }
    > .disabled {
        color: #999;
    }
}
.tankTree {
    letter-spacing: 5px;
    overflow: hidden;
    width: 100%;
    padding: 0 10px;
    min-height: 450px;
    font-size: 13px;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    li {
        text-align: center;
        flex-shrink: 0;
    }
    a {
        cursor: pointer;
        float: left;
        display: block;
        position: relative;
        margin: 5px;
        padding: 14px 8px;
        width: 160px;
        letter-spacing: 2px;
        height: auto;
        text-align: center;
        color: #333;
        background-color: #fff;
        box-sizing: border-box;
        border-radius: 5px;
        border: 1px solid #ccc;

        & > span {
            display: block;
        }
        & small {
            color: @info;
        }
        &:hover {
            background-color: #e9ecef;
            text-decoration: none;
        }
    }
    .o-line-up {
        float: left;
        position: relative;
        padding-left: 10px;
        height: 40px;
        &:after {
            content: '';
            position: absolute;
            top: 20px;
            left: 0;
            border-top: 1px solid #ccc;
            width: 15px;
        }
    }

    .o-line-down {
        float: left;
        position: relative;
        padding-left: 10px;
        height: 40px;
        &:before {
            content: '';
            position: absolute;
            left: -5px;
            top: 20px;
            border-top: 1px solid #ccc;
            width: 15px;
        }
    }
    .border-left {
        float: left;
        margin-bottom: 20px;
        & > li {
            border-left: 1px solid #ccc;
        }
    }

    /*鼠标滑过工具显示*/
    .img-cover-toolbar {
        position: absolute;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.2);
        padding: 6px;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        border-radius: 4px;
        button {
            border-radius: 50%;
            font-size: 12px;
            padding: 6px 10px;
            margin: 2px;
        }
    }
}
.border-list {
    dl {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        dd {
            cursor: pointer;
            font-size: 0.875rem;
            line-height: 1.5;
            width: 120px;
            height: 60px;
            padding: 0;
            margin: 10px;
            color: #666;
        }
    }
    ul {
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        &.sub-list {
            li {
                font-size: 0.675rem;
                height: 40px;
                > div {
                    border-radius: 4px;
                    border-style: dashed;
                    &.active {
                        color: white;
                        background-color: @info;
                    }
                }
            }
        }
        li {
            cursor: pointer;
            position: relative;
            font-size: 0.875rem;
            line-height: 1.5;
            width: 120px;
            min-height: 60px;
            padding: 0;
            margin: 10px;
            color: #666;

            .o-line-down {
                position: absolute;
                left: 50%;
                width: 2px;
                height: 26px;
                border-left: 1px solid #ccc;
            }
            & > div {
                position: relative;
                width: 100%;
                height: 60px;
                border: 1px solid #ccc;
                border-radius: 4px;
                &:hover {
                    color: white;
                    border-color: @info;
                    background-color: @info;
                }
                &.active {
                    color: white;
                    background-color: @info;
                }
                &.ismenu {
                    color: @success;
                    border-color: @success;
                    &:hover {
                        color: white;
                        background-color: @success;
                    }
                    &.active {
                        color: white;
                        background-color: @success;
                    }
                }
                & > span {
                    display: block;
                    position: absolute;
                    width: 100%;
                    text-align: center;
                    left: 50%;
                    top: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    -moz-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    -o-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}

.tankBannerTree {
    letter-spacing: 5px;
    overflow: hidden;
    width: 100%;
    padding: 0 10px;
    min-height: 450px;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        float: left;
    }
    li {
        text-align: center;
        flex-shrink: 0;
    }
    a {
        cursor: pointer;
        padding: 14px 8px;
        width: 160px;
        letter-spacing: 2px;
        height: 50px;
        display: block;
        text-align: center;
        margin: 5px;
        box-sizing: border-box;
        float: left;
        position: relative;
        border-radius: 5px;
        box-shadow: 1px 1px 2px #999;
        color: #333;
        background-color: #fff;
        background-size: 100% 100%;
        & > span {
            font-size: 12px;
            display: block;
        }
        & small {
            color: @info;
        }
    }
    .o-line-up {
        float: left;
        position: relative;
        padding-left: 10px;
        height: 40px;
        &:after {
            content: '';
            position: absolute;
            top: 20px;
            left: 0;
            border-top: 1px solid #e9ecef;
            width: 15px;
        }
    }

    .o-line-down {
        float: left;
        position: relative;
        padding-left: 10px;
        height: 40px;
        &:before {
            content: '';
            position: absolute;
            left: -5px;
            top: 20px;
            border-top: 1px solid #e9ecef;
            width: 15px;
        }
    }
    .border-left {
        margin-bottom: 20px !important;
        & > li {
            border-left: 1px solid #e9ecef;
        }
    }

    /*鼠标滑过工具显示*/
    .img-cover-toolbar {
        position: absolute;
        left: 0;
        top: 0;
        background: rgba(0, 123, 255, 0.6);
        padding: 4px;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        border-radius: 4px;
        display: flex;
        justify-content: space-around;
        align-content: center;
        button {
            flex-shrink: 0;
            border-radius: 50%;
            font-size: 16px;
            padding: 8px 12px;
            margin: 0;
        }
    }
}
.banner-tools {
    background-color: #374459;
    color: #fff;
    box-shadow: 0 1px 2px #374459;
    border-radius: 4px;
}
.carousel-caption {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    padding: 0;
    .banner-font {
        position: absolute;
        z-index: 11;
        h2,
        p {
            white-space: nowrap;
        }
        // color: @purple;

        &.left.top {
            left: 10%;
            top: 10%;
            text-align: left;
            transform: translate(-10%, -10%);
        }
        &.left.middle {
            left: 10%;
            top: 50%;
            text-align: left;
            transform: translate(-10%, -50%);
        }
        &.left.bottom {
            left: 10%;
            bottom: 10%;
            text-align: left;
            transform: translate(-10%, 10%);
        }
        &.center.top {
            left: 50%;
            top: 10%;
            text-align: center;
            transform: translate(-50%, -10%);
        }
        &.center.middle {
            left: 50%;
            top: 50%;
            text-align: center;
            transform: translate(-50%, -50%);
        }
        &.center.bottom {
            left: 50%;
            bottom: 10%;
            text-align: center;
            transform: translate(-50%, 10%);
        }
        &.right.top {
            right: 10%;
            top: 10%;
            text-align: right;
            transform: translate(10%, -10%);
        }
        &.right.middle {
            right: 10%;
            top: 50%;
            text-align: right;
            transform: translate(10%, -50%);
        }
        &.right.bottom {
            right: 10%;
            bottom: 10%;
            text-align: right;
            transform: translate(10%, 10%);
        }
        p {
            margin-bottom: 0;
        }
    }
}
.home-page-setting {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            margin: 10px;
            box-shadow: 0px 1px 1px #999;
            border-radius: 4px;
            min-height: 200px;
            position: relative;
            .loading {
                position: absolute;
                left: 50%;
                top: 60%;
                transform: translate(-50%, -50%);
            }
        }
    }
    h6 {
        color: white;
        border-radius: 4px;
        text-align: center;
        padding: 16px;
        margin-bottom: 10px;
    }
    dl {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        dd {
            display: block;
            text-align: center;
            font-size: 14px;
            position: relative;
            width: calc(25% - 20px);
            padding-bottom: 10%;
            margin: 10px;
            border-radius: 4px;
            color: #0c5460;
            background-color: @gray;
            border: 1px solid #ccc;
            cursor: pointer;
            overflow: hidden;
            position: relative;
            > div {
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                > span {
                    position: absolute;
                    display: block;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                img {
                    width: 100%;
                }
                i {
                    position: absolute;
                    left: 16px;
                    top: 50%;
                    transform: translateY(-50%);
                }
                .fa-delete {
                    border-radius: 50%;
                    padding: 0.4rem 0.6rem;
                    left: auto;
                    top: 0.2rem;
                    right: 0.2rem;
                    color: white;
                    background-color: rgba(0, 0, 0, 0.4);
                    transform: none;

                    &:hover {
                        background-color: rgba(0, 0, 0, 0.9);
                    }
                }
            }

            &:hover {
                background-color: #ccc;
            }

            &.notActive {
                font-size: 36px;
                color: #666;
                background-color: #fff;
                border: 1px solid #e9e9e9;

                &:hover {
                    color: #333;
                    background-color: @gray;
                }
            }
        }
    }
}
.custom-module-list {
    .card-body {
        position: relative;
        & .badge {
            position: absolute;
            right: 6px;
            top: 6px;
        }
    }
    .card {
        min-width: 200px;
        max-width: calc(25% - 30px);
        margin-bottom: 10px;
        cursor: pointer;
        &:hover {
            background-color: #17a2b81a;
        }
    }
}
.top_bg {
    width: 100%;
    height: 100px;
    padding: 10px 0;
    background-color: #27ae60;
    color: rgba(255, 255, 255, 0.75);
    background-attachment: fixed, fixed, fixed;
    background-image: url('img/overlay1.png'), url('img/overlay3.svg'),
        linear-gradient(45deg, #990066 5%, #990099 30%, #27ae60);
    background-position: top left, center center, center center;
    background-size: auto, cover, cover;
    overflow: hidden;
}
.news-cover {
    cursor: pointer;
    line-height: 1px;
    margin: 0 auto;

    img {
        border-radius: 4px;
        max-width: 100%;
        height: 240px;
        border: 1px solid #e9e9e9;
        &:hover {
            border-color: #c3e6cb;
        }
    }
}
.news-content {
    background-color: #f5f7f9;
    padding: 10px;
    border-radius: 4px;
}
.news-img-with-info {
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        list-style: none;
        padding: 0;
        li {
            cursor: pointer;
            border: 1px solid #e9e9e9;
            max-width: calc(25% - 20px);
            height: 160px;
            margin: 10px;
            border-radius: 4px;
            position: relative;
            overflow: hidden;
            @media (min-width: 1920px) {
            }
            &.add {
                width: 160px;
            }
            .fa-times {
                position: absolute;
                top: 4px;
                left: 4px;
                padding: 4px;
                color: #fff;
                background-color: rgba(0, 0, 0, 0.3);
                border-radius: 2px;
                &:hover {
                    background-color: rgba(0, 0, 0, 0.9);
                }
            }
            span {
                position: absolute;
                white-space: nowrap;
                display: block;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
            &:hover {
                background-color: #e9ecef;
                border: 1px solid #c3e6cb;
            }
            img {
                height: 100%;
            }
        }
    }
}

.group-module {
    padding-top: 20px;
    input,
    textarea,
    button {
        font-size: 13px;
    }
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: start;
    .list {
        width: 40%;
        margin-right: 20px;
        box-shadow: 0 0 3px #ccc;
        height: 100%;
        min-height: 400px;
    }
    .detail {
        width: 60%;
        box-shadow: 0 0 3px #ccc;
        min-height: 400px;
        position: relative;

        .info-img {
            min-width: 128px;
            height: 128px;
            > img {
                max-height: none;
                height: 100%;
            }
        }
        .no-action {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 4px;
            padding: 20px;
            background-color: #e9ecef;
            border: 1px solid #ccc;
        }
        .tips {
            .path {
                color: @bule;
            }
            .action {
                font-style: italic;
                color: @purple;
            }
        }
    }
}
.group-tree {
    ul {
        padding-left: 0;
        margin-top: 10px;
    }
    li {
        overflow: hidden;
        list-style: none;
        overflow: hidden;
        padding-left: 12px;
        max-height: 32px;
        cursor: pointer;
        transition: max-height 0.2s ease-out;
        margin-bottom: 10px;
        > div {
            padding-left: 10px;
            border-radius: 4px;
            i {
                transition: all 0.2s ease-out;
            }
            > span {
                display: inline-block;
                padding: 4px 8px;
                border-radius: 4px;
            }
            &:hover > span,
            &:active > span {
                color: @purple;
            }
            &.choose > span {
                color: @purple;
                background-color: #ccccff;
            }
        }
        &.active {
            max-height: 10000px;
            transition: max-height 0.2s ease-in;
            > div i {
                transition: all 0.2s ease-in;
                transform: rotate(90deg);
            }
        }
    }
}
.info-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    > * {
        height: 64px;
    }
}
.info-img {
    padding: 0;
    background-color: #fff;
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    min-width: 64px;
    height: 64px;
    text-align: center;
}
.info-img > img {
    max-height: 64px;
}
.icon-img {
    padding: 0;
    background-color: #fff;
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    min-width: 48px;
    height: 48px;
    text-align: center;
    > img {
        max-height: none;
        height: 100%;
    }
}
.lang-panel {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: start;
    .lang-list {
        width: 60%;
        .lang-list-item {
            cursor: pointer;
            .lang-set-default {
                visibility: hidden;
                font-size: 12px;
            }
            &:hover {
                background-color: #e9ecef;
                .lang-set-default {
                    visibility: visible;
                }
            }
        }
    }
    .lang-edit-panel {
        width: calc(40% - 22px);
        padding-bottom: 70%;
        margin-right: 20px;
        position: relative;
        > * {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

.tenant-table {
    tr {
        cursor: pointer;
        &:hover {
            background-color: #e9ecef;
        }
    }
}
